{% extends 'baseapp/_base_index.html' %}

{% block title %}Change profile{% endblock %}

{% block body_title %}Change profile{% endblock %}

{% block body_content %}

    <div class="container back01">

        <form method="post" class="form"  autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="User Name">UserName<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" >
                </div>
            </div>
            <div class="col">
              <div class="form-group">
                  <label for="email">Email<span style="color: red;">*</span></label>
                  <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required autofocus>
              </div>
            </div>
        </div>


            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" >
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="date_of_birth">Date of Birth</label>
                        <input type="text" class="form-control datepicker" id="date_of_birth" name="date_of_birth" value="{{ user.date_of_birth }}" >
                    </div>
                </div>
            </div>


            <div class="form-group">
                <button type="submit" class="btn mr-2 btn-primary shadow-lg " name="btn_cadastro_canal">Change</button>
                <a class="btn btn-primary btncustom shadow-lg mr-2" role="button" href="{% url 'index' %}">Cancel</a>
            </div>

        </form>
    </div>
    <script>
      $(function() {
        $( ".datepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1900:2012",
          // You can put more options here.

        });
      });
      </script>

{% endblock %}
